[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
redis = "*"
requests = "*"
rq = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
