<!DOCTYPE html>
<html>
  <head>
    <title>ESRI Indexer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><a href="{{ url_for('.index') }}">ESRI Indexer</a></h1>
      <hr/>
      <h3><a href="{{ url_for('.show_server', server_id=server.id) }}">{{ server.url }}</a></h3>
      <h3>{{ service.name }}</h3>
      <h4>Layers</h4>
      <ul>
      {% for layer in service.layers %}
        <li><a href="{{ url_for('.show_service', server_id=server.id, service_id=service.id) }}">{{ layer.name }}</a></li>
      {% else %}
        <li>None yet!</li>
      {% endfor %}
      </ul>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
