<!doctype html>
<html>
    <head>
        <title>ESRI Indexer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
            rel="stylesheet"
            media="screen"
        />
        <style>
            .container {
                max-width: 1000px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1><a href="{{ url_for('.index') }}">ESRI Indexer</a></h1>
            <hr />
            {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
            {% endfor %}
            <h3>{{ server.url }}</h3>
            <p>
                {% if server.version %}
                <strong>Version:</strong> {{ server.version }}<br>
                {% endif %}
                {% if server.last_crawled %} Last indexed
                <strong>{{ server.last_crawled }}</strong>. {% else %} Never
                successfully indexed. {% endif %}
                <form method="post">
                    {{ form.hidden_tag() }} {{ form.action() }} {{ form.submit() }}
                </form>
            </p>
            <h4>{{ server.services.count() }} Services</h4>
            <ul>
                {% for service in server.services %}
                <li>
                    <a
                        href="{{ url_for('.show_service', server_id=server.id, service_id=service.id) }}"
                        >{{ service.name }}</a
                    >
                    ({{ service.service_type }})
                </li>
                {% else %}
                <li>None yet!</li>
                {% endfor %}
            </ul>
        </div>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>
